[submodule "BioMaster"]
	path = BioMaster
	url = https://github.com/Vincentcchu/BioMaster.git
[submodule "bia"]
	path = bia
	url = https://github.com/Vincentcchu/bia.git
[submodule "evaluator"]
	path = evaluator
	url = https://github.com/Vincentcchu/CellTypeEval.git
[submodule "CellTypeAgent"]
	path = CellTypeAgent
	url = https://github.com/jianghao-zhang/CellTypeAgent.git
[submodule "CASSIA"]
	path = CASSIA
	url = https://github.com/ElliotXie/CASSIA
[submodule "scMalignantFinder"]
	path = scMalignantFinder
	url = https://github.com/Jonyyqn/scMalignantFinder.git
