[submodule "BioMaster"]
	path = BioMaster
	url = https://github.com/Vincentcchu/BioMaster.git
[submodule "bia"]
	path = bia
	url = https://github.com/Vincentcchu/bia.git
[submodule "CellTypeAgent"]
	path = CellTypeAgent
	url = https://github.com/Vincentcchu/CellTypeAgent.git
[submodule "CASSIA"]
	path = CASSIA
	url = https://github.com/Vincentcchu/CASSIA.git
[submodule "Biomni"]
	path = Biomni
	url = https://github.com/Vincentcchu/Biomni.git
[submodule "agents/STELLA"]
	path = agents/STELLA
	url = https://github.com/Vincentcchu/STELLA
