[submodule "BioMaster"]
	path = agents/biomaster
	url = https://github.com/Vincentcchu/BioMaster.git
[submodule "bia"]
	path = agents/bia
	url = https://github.com/Vincentcchu/bia.git
[submodule "CellTypeAgent"]
	path = agents/CellTypeAgent
	url = https://github.com/jianghao-zhang/CellTypeAgent.git
[submodule "CASSIA"]
	path = agents/CASSIA
	url = https://github.com/ElliotXie/CASSIA
[submodule "scMalignantFinder"]
	path = agents/scMalignantFinder
	url = https://github.com/Jonyyqn/scMalignantFinder.git
[submodule "Biomni"]
	path = agents/Biomni
	url = https://github.com/Vincentcchu/Biomni.git
